<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Smarttask Education</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- style sheet -->
    <link rel="stylesheet" type="text/css" th:href="@{/css/bootstrap-3.3.7/bootstrap.min.css}"/>
    <link rel="stylesheet" type="text/css" th:href="@{/css/bootstrap-datepicker3.min.css}"/>
    <link rel="stylesheet" type="text/css" th:href="@{/js/plugins/daterangepicker/daterangepicker.css}"/>
    <link rel="stylesheet" type="text/css" th:href="@{/css/datatables.min.css}"/>
    <link rel="stylesheet" type="text/css" th:href="@{/css/login.css}"/>
    <link rel="stylesheet" type="text/css" th:href="@{/css/select2.min.css}"/>
    <!-- thu vien validate -->
    <link rel="stylesheet" type="text/css" th:href="@{/css/parsley.css}"/>
    <link rel="stylesheet" type="text/css" th:href="@{/css/bootstrap-datepicker.min.css}">
    <link rel="stylesheet" type="text/css" th:href="@{/css/font-awesome.min.css}"/>
    <link rel="stylesheet" type="text/css" th:href="@{/css/font-awesome-animation.min.css}"/>
    <link rel="stylesheet" type="text/css" th:href="@{/css/ionicons.min.css}"/>
    <link rel="stylesheet" type="text/css" th:href="@{/css/admin-lte.min.css}"/>
    <link rel="stylesheet" type="text/css" th:href="@{/css/ionicons.min.css}"/>
    <link rel="stylesheet" type="text/css" th:href="@{/css/main.css}"/>
    <link rel="stylesheet" type="text/css" th:href="@{/css/sweetalert.css}"/>
    <link rel="stylesheet" type="text/css" th:href="@{/css/lobibox.min.css}"/>
    <!-- css overwrite -->
    <link rel="stylesheet" type="text/css" th:href="@{/css/overwrite.css}"/>
    <link rel="stylesheet" type="text/css" th:href="@{/css/fixgiaodienadmin.css}">
    <!-- jquery -->
    <script type="text/javascript" th:src="@{/js/jquery-3.3.1/jquery.min.js}"></script>
    <script type="text/javascript" th:src="@{/js/bootstrap-3.3.7/bootstrap.min.js}"></script>
    <script type="text/javascript" th:src="@{/js/jquery.slimscroll-1.3.6.min.js}"></script>
    <script type="text/javascript" th:src="@{/js/fastclick-1.0.6.min.js}"></script>
    <script type="text/javascript" th:src="@{/js/parsley/parsley.js}"></script>
    <script type="text/javascript" th:src="@{/js/select2/select2.full.min.js}"></script>
    <script type="text/javascript" th:src="@{/js/bootstrap-datepicker.min.js}"></script>
    <script type="text/javascript" th:src="@{/js/plugins/daterangepicker/moment.js}"></script>
    <script type="text/javascript" th:src="@{/js/plugins/daterangepicker/daterangepicker.js}"></script>
    <script type="text/javascript" th:src="@{/js/app.min.js}"></script>
    <script type="text/javascript" th:src="@{/js/javascript.js}"></script>
    <script type="text/javascript" th:src="@{/js/sweetalert.js}"></script>
    <script type="text/javascript" th:src="@{/js/lobibox.js}"></script>
    <script type="text/javascript" th:src="@{/js/lobibox.min.js}"></script>
    <script type="text/javascript" th:src="@{/js/datatables.min.js}"></script>
    <script type="text/javascript" th:src="@{/js/datatables.config.js}"></script>
    <script type="text/javascript" th:src="@{/js/cuttom.js}"></script>
    <script type="text/javascript" th:src="@{/js/trongtran.js}"></script>

    <!--[if lt IE 9]>
    <script src="https://oss.maxcdn.com/html5shiv/3.7.3/html5shiv.min.js"></script>
    <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->
</head>
<body class="hold-transition fixed skin-purple sidebar-mini">
<div class="wrapper">
    <div th:replace="fragments/header :: header">&nbsp;</div>
    <div class="content-wrapper">
        <!--<div layout:fragment="content">&nbsp;</div>-->
        <section class="content-header">
            <h1>
                Quản lý tài khoản
            </h1>
            <ol class="breadcrumb">
                <li>
                    <a href="#">Home</a>
                </li>
                <li class="active">
                    Quản lý tài khoản
                </li>
            </ol>
        </section>
        <div class="khung" data-width="5">


            <form action="/admin/user/tim-kiem" method="post">
                <div class="input">
                    <div class="label">Tên truy cập</div>
                    <input type="text" name="userName" th:value="${userName}"/>
                    <br>
                </div>
                <div class="input">
                    <div class="label">Mã người dùng</div>
                    <input type="text" name="maNguoiDung" th:value="${maNguoiDung}"/><br>
                </div>

                <div class="input">
                    <div class="label">Tên người dùng</div>
                    <input type="text" name="fullName" th:value="${fullName}"/><br>
                </div>
                <input type="submit" class="submit" value="Tìm kiếm">
            </form>
        </div>
        <h3 class="title">
            Danh sách tài khoản
            <a href="#" class="add-use" data-toggle="modal" data-target="#themnhansu">
                <i class="fa fa-plus-circle" aria-hidden="true"></i>
                Thêm giảng viên
            </a>
            <a href="#" class="add-use" data-toggle="modal" data-target="#themtaikhoansinhvien">
                <i class="fa fa-plus-circle" aria-hidden="true"></i>
                Thêm sinh viên
            </a>
        </h3>
        <div class="table">
            <table class="tree-table">
                <thead class="fix-w text-center">
                <tr>
                    <th class="wpx-60">
                        <div>STT</div>
                    </th>
                    <th>
                        <div>Mã thành viên</div>
                    </th>
                    <th>
                        <div>Họ tên</div>
                    </th>
                    <th>
                        <div>Tên truy cập</div>
                    </th>
                    <th>
                        <div>Loại tài khoản</div>
                    </th>
                    <th>
                        <div>Số điện thoại</div>
                    </th>
                    <th class="wpx-40">
                        <!-- <div>Chức năng</div> -->
                    </th>
                </tr>
                </thead>
                <tbody class="text-center">
                <th:block th:if="${!#lists.isEmpty(lstUser)}" th:each="u, i : ${lstUser}">
                    <tr>
                        <td th:text="${i.index+1}">1</td>
                        <td th:if="${u.giaoVien != null}" th:text="${u.giaoVien.maGiaoVien}"></td>
                        <td th:if="${u.sinhVien != null}" th:text="${u.sinhVien.maSinhVien}"></td>
                        <td th:if="${u.sinhVien == null and u.giaoVien == null}" th:text="${u.userName}"></td>
                        <td th:text="${u.fullName}"></td>
                        <td th:text="${u.userName}"></td>
                        <td th:if="${u.giaoVien != null}" th:text="'Giảng viên'"></td>
                        <td th:if="${u.sinhVien != null}" th:text="'Sinh viên'"></td>
                        <td th:if="${u.sinhVien == null and u.giaoVien == null}" th:text="'Quản trị viên'"></td>
                        <td th:text="${u.userPhone}"></td>
                        <td class="text-center">
                            <div class="dropdown bacham">
                                <a href="#" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
                                    <i class="fa fa-ellipsis-v" aria-hidden="true"></i>
                                </a>
                                <ul class="dropdown-menu dropdown-menu-right">
                                    <li class="inline">
                                        <a class="user-detail" href="#" th:attr="itemId=${u.userName}"
                                           data-toggle="modal"
                                           data-target="#xemnhansu">
                                            <i class="fa fa-search" aria-hidden="true"></i> Xem
                                        </a>
                                    </li>
                                    <li href="#" class="inline"><a th:attr="userName=${u.userName}"
                                                                   class="doimatkhau"><i class="fa fa-key"
                                                                                         aria-hidden="true"></i> thiết
                                        lập mật khẩu</a></li>
                                </ul>
                            </div>
                        </td>
                    </tr>
                </th:block>
                </tbody>
            </table>

        </div>
        </section>

        <!-- Modal themnhansu-->
        <div class="modal modal-full fade" id="themnhansu" role="dialog" aria-labelledby="themnhansuLabel">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span
                                aria-hidden="true">&times;</span></button>
                        <h3 class="modal-title" id="themnhansuLabel">
                            Thêm mới
                        </h3>
                    </div>
                    <div class="modal-body">
                        <form id="form-themmoi" class="form-horizontal">
                            <div class="">
                                <div class="row">
                                    <div class="col-md-6">
                                        <div class="form-group">
                                            <label for="" class="col-sm-3 control-label">Mã thành viên <span
                                                    class="red">(*)</span></label>
                                            <div class="col-md-9">
                                                <input readonly required name="memberId" id="memberId" type="text"
                                                       class="form-control"
                                                       placeholder="Mã nhân viên">
                                            </div>
                                            <p class="col-sm-offset-3 help-block red">Example block-level help text
                                                here.</p>
                                        </div>
                                        <div class="form-group">
                                            <label for="" class="col-sm-3 control-label">Tên truy cập <span class="red">(*)</span></label>
                                            <div class="col-md-9">
                                                <input required name="userName" type="text" class="form-control"
                                                       placeholder="Tên truy cập">
                                            </div>
                                            <p class="col-sm-offset-3 help-block red">Example block-level help text
                                                here.</p>
                                        </div>
                                        <div class="form-group">
                                            <label for="" class="col-sm-3 control-label">Mật khẩu <span
                                                    class="red">(*)</span></label>
                                            <div class="col-md-9">
                                                <input required name="userPassWord" type="password" class="form-control"
                                                       placeholder="Mật khẩu">
                                            </div>
                                            <p class="col-sm-offset-3 help-block red">Example block-level help text
                                                here.</p>
                                        </div>
                                        <div class="form-group">
                                            <label for="" class="col-sm-3 control-label">Số điện thoại <span
                                                    class="red">(*)</span></label>
                                            <div class="col-md-9">
                                                <input required name="userPhone" type="text" class="form-control"
                                                       placeholder="Số điện thoại">
                                            </div>
                                            <p class="col-sm-offset-3 help-block red">Example block-level help text
                                                here.</p>
                                        </div>
                                        <div class="form-group">
                                            <label for="" class="col-sm-3 control-label">Thư điện tử <span class="red">(*)</span></label>
                                            <div class="col-md-9">
                                                <input required name="userEmail" type="text" class="form-control"
                                                       placeholder="Thư điện tử">
                                            </div>
                                            <p class="col-sm-offset-3 help-block red">Example block-level help text
                                                here.</p>
                                        </div>

                                        <div class="form-group">
                                            <label for="" class="col-sm-3 control-label">Họ tên <span
                                                    class="red">(*)</span></label>
                                            <div class="col-md-9">
                                                <input required name="fullName" type="text" class="form-control"
                                                       placeholder="Họ tên">
                                            </div>
                                            <p class="col-sm-offset-3 help-block red">Example block-level help text
                                                here.</p>
                                        </div>
                                        <div class="form-group">
                                            <label for="" class="col-sm-3 control-label">Giới tính</label>
                                            <div class="col-md-9">
                                                <select name="userGender" class="select2 form-control"
                                                        title="Giới tính">
                                                    <option value="Nam">Nam</option>
                                                    <option value="Nữ">Nữ</option>
                                                </select>
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <label for="" class="col-sm-3 control-label">Ngày sinh</label>
                                            <div class="col-md-9">
                                                <input required name="userDOB" type="date" class="form-control" id=""
                                                       placeholder="Ngày sinh">
                                            </div>
                                            <p class="col-sm-offset-3 help-block red">Example block-level help text
                                                here.</p>
                                        </div>
                                    </div>
                                    <div class="col-md-6">
                                        <div class="form-group">
                                            <label for="" class="col-sm-3 control-label">Địa chỉ</label>
                                            <div class="col-md-9">
                                                <input required name="userAddress" type="text" class="form-control"
                                                       placeholder="Địa chỉ">
                                            </div>
                                            <p class="col-sm-offset-3 help-block red">Example block-level help text
                                                here.</p>
                                        </div>

                                        <div class="form-group">
                                            <label for="" class="col-sm-3 control-label">Khoa/Viện</label>
                                            <div class="col-md-9">
                                                <select id="khoaVien" name="khoaVien"
                                                        class="select2 form-control" title="Khoa/Viện">
                                                    <option value="">-- Chọn khoa viện --</option>
                                                    <th:block th:if="${!#lists.isEmpty(lstKhoaVien)}"
                                                              th:each="kv : ${lstKhoaVien}">
                                                        <option th:value="${kv.maVien}"
                                                                th:text="${kv.tenVien}"></option>
                                                    </th:block>
                                                </select>
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <label for="" class="col-sm-3 control-label">Bộ môn</label>
                                            <div class="col-md-9">
                                                <select id="boMon" name="boMon" class="select2 form-control"
                                                        title="Bộ môn">
                                                    <!--<option selected value=""><&#45;&#45;Chọn&ndash;&gt;</option>-->
                                                </select>
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <label for="" class="col-sm-3 control-label">Học hàm</label>
                                            <div class="col-md-9">
                                                <input id="hocHam" name="hocHam" type="text"
                                                       class="form-control" placeholder="Học hàm">
                                            </div>
                                            <p class="col-sm-offset-3 help-block red">Example block-level help text
                                                here.</p>
                                        </div>
                                        <div class="form-group">
                                            <label for="" class="col-sm-3 control-label">Kinh nghiệm</label>
                                            <div class="col-md-9">
                                                <textarea id="kinhNghiem" name="kinhNghiem"
                                                          class="form-control" placeholder="Kinh nghiệm"
                                                          rows="2"></textarea>
                                            </div>
                                        </div>

                                    </div>
                                </div>

                            </div>
                        </form>
                    </div>
                    <div class="modal-footer text-center">
                        <button type="button" id="btn-themmoi" class="btn btn-primary"><i class="fa fa-plus-circle"
                                                                                          aria-hidden="true"></i> Thêm
                            mới
                        </button>
                        <button type="button" class="btn btn-default" data-dismiss="modal"><i class="fa fa-sign-out"
                                                                                              aria-hidden="true"></i>
                            Thoát
                        </button>
                    </div>
                </div>
            </div>
        </div>
        <!--Model thêm tài khoản sinh viên-->
        <div class="modal modal-full fade" id="themtaikhoansinhvien">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span
                                aria-hidden="true">&times;</span></button>
                        <h3 class="modal-title" id="suanhansuLabel">
                            Thêm tài khoản sinh viên
                        </h3>
                    </div>
                    <div class="modal-body">
                        <form id="edit" method="post" enctype="multipart/form-data" th:action="@{/user/themsv}"
                              class="form-horizontal">
                            <div class="row bg-xam">
                                <div class="text-center avantar">
                                    <div class="col-md-3 p-25">
                                    </div>
                                    <div class="col-md-4 inline-block p-25">
                                        <input id="id-edit" name="delegateId" type="hidden"/>
                                        <input id="id-file-edit" name="fileId" type="hidden"/>
                                        <div class="form-group">
                                            <label class="col-sm-3 control-label">Đính kèm tệp</label>
                                            <div class="col-sm-9">
                                                <input type="file" class="form-control" id="content-edit"
                                                       name="excelfile" onchange="validateFileUpload(this.id)">
                                                <label class="form-control" for="content-edit" id="labelField-edit">

                                                </label>
                                                <input type="hidden" name="removeFile" id="removeFile">
                                                <input type="hidden" class="form-control" name="extUrl"
                                                       id="extUrlEdit"/>
                                                <input type="hidden" class="form-control" name="ftype" id="ftypeEdit"/>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="modal-footer text-center">
                                <button class="btn btn-default" id="btn-remove-file"><i
                                        class="fa fa-remove"></i> Gỡ file đính kèm
                                </button>
                                <button class="btn btn-default" id="btn-edit" type="submit"><i
                                        class="fa fa-sync"></i>Cập nhật
                                </button>
                                <button type="button" class="btn btn-default"
                                        data-dismiss="modal"><i class="fa fa-sign-out"
                                                                aria-hidden="true"></i> Thoát
                                </button>
                            </div>
                        </form>
                    </div>

                </div>
            </div>
        </div>

        <!-- Modal xemgv -->
        <div class="modal modal-full fade" id="xemnhansugv" role="dialog" aria-labelledby="xemnhansuLabel">
            <div class="modal-dialog" role="document">
                <div class="modal-content" style="width:1200px; margin-left:13%;">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span
                                aria-hidden="true">&times;</span></button>
                        <h3 class="modal-title">
                            Thông tin cá nhân
                        </h3>
                    </div>
                    <div class="modal-body">
                        <form class="form-horizontal">
                            <div class="row bg-xam">
                                <div class="text-center avantar">
                                    <div class="card col-md-3">
                                        <div>
                                            <div class="thumb" alt="User Pic"
                                                 id="view-avatar-gv">
                                                <!--th:style="'background-image:url('+@{/avatar/}+${user.userAvatar != null ? user.userAvatar : 'default.png'} + ');'"-->
                                            </div>
                                        </div>
                                        <div class="article">
                                            <h1 id="viewfullnamegv" name="fullName" readonly
                                                th:text="${user != null ? user.fullName : ''}">
                                                Nguyễn Duy
                                                Trường</h1>
                                            <span>
                                                <span class="xam" data-toggle="tooltip" data-placement="top"
                                                      title="Ngày sinh">
                                                    <i class="fa fa-birthday-cake" aria-hidden="true"></i>
                                                </span>
                                            <span id="birthdaygv">20/02/1985</span>
                    </span>
                                            <span>
                      <span class="xam" data-toggle="tooltip" data-placement="top" title="Giới tính">
                        <i class="fa fa-venus-mars" aria-hidden="true"></i>
                      </span>
                    <span id="gendergv">Nam</span>
                    </span>
                                            <span>
                      <span class="xam" data-toggle="tooltip" data-placement="top" title="Số điện thoại">
                        <i class="fa fa-phone" aria-hidden="true"></i>
                      </span>
                    <span id="phonegv">0978198420</span>
                    </span>
                                            <span>
                      <span class="xam" data-toggle="tooltip" data-placement="top" title="Thư điện tử">
                        <i class="fa fa-envelope-o" aria-hidden="true"></i>
                      </span>
                    <span id="emailgv">truongnd1380@gmail.com</span>
                    </span>
                                        </div>
                                    </div>
                                    <div class="col-md-4 p-25">
                                        <div class="form-group chamcham">
                                            <label for="">Tên truy cập</label>
                                            <span id="usernamegv">Tên truy cập</span>
                                        </div>
                                        <div class="form-group chamcham">
                                            <label for="">Mã nhân viên</label>
                                            <span id="manvgv"></span>
                                        </div>
                                        <div class="form-group chamcham">
                                            <label for="">Mã ngành</label>
                                            <span id="manganhgv"></span>
                                        </div>

                                        <div class="form-group chamcham">
                                            <label for="">Tên ngành</label>
                                            <span id="tennganhgv"></span>
                                        </div>

                                        <div class="form-group chamcham">
                                            <label for="">Địa chỉ</label>
                                            <span id="diachigv">Mã vị trí</span>
                                        </div>

                                        <div class="form-group chamcham">
                                            <label for="">Học hàm</label>
                                            <span id="hochamviewgv"></span>
                                        </div>

                                        <div class="form-group chamcham">
                                            <label for="">Mô tả</label>
                                            <span id="motagv"></span>
                                        </div>

                                        <div class="form-group chamcham">
                                            <label for="">Loại tài khoản</label>
                                            <span id="loaitk"></span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div id="gvprofile" hidden class="row gach-top">
                                <div class="col-md-12">
                                    <h4 class="title-sup-modal">
                <span>
                    Danh sách lớp đang giảng dạy <span class="red">(*)</span>
                </span>
                                    </h4>
                                    <div class="table">
                                        <table>
                                            <thead class="fix-w text-center">
                                            <tr>
                                                <th>
                                                    STT
                                                </th>
                                                <th>
                                                    Tên môn học
                                                </th>
                                                <th>
                                                    Tên lớp
                                                </th>
                                                <th>
                                                    Phòng học
                                                </th>
                                                <th>
                                                    Ca học
                                                </th>
                                            </tr>
                                            </thead>
                                            <tbody id="tbGiaoVien">
                                            <tr>
                                                <td>
                                                    1
                                                </td>
                                                <td>
                                                    CV-35/3-01.02
                                                </td>
                                                <td>
                                                    Xây dựng quy chế, quy trình, tài liệu kỹ thuật liên quan đến công
                                                    việc phòng quản lý
                                                </td>
                                                <td>

                                                </td>
                                                <td>

                                                </td>
                                            </tr>
                                            </tbody>
                                        </table>
                                    </div>
                                </div>

                            </div>
                            <div id="svprofile" hidden class="row gach-top">
                                <div class="col-md-12">
                                    <h4 class="title-sup-modal">
                <span id="kiHoc">
                    Danh sách lớp đang theo học kì 1 <span class="red">(*)</span>
                </span>
                                    </h4>
                                    <div class="table">
                                        <table>
                                            <thead class="fix-w text-center">
                                            <tr>
                                                <th>
                                                    STT
                                                </th>
                                                <th>
                                                    Tên môn học
                                                </th>
                                                <th>
                                                    Tên lớp
                                                </th>
                                                <th>
                                                    Phòng học
                                                </th>
                                                <th>
                                                    Ca học
                                                </th>
                                            </tr>
                                            </thead>
                                            <tbody id="tbSinhVien">
                                            <tr>
                                                <td>
                                                    1
                                                </td>
                                                <td>
                                                    CV-35/3-01.02
                                                </td>
                                                <td>
                                                    Xây dựng quy chế, quy trình, tài liệu kỹ thuật liên quan đến công
                                                    việc phòng quản lý
                                                </td>
                                                <td>

                                                </td>
                                                <td>

                                                </td>
                                            </tr>
                                            </tbody>
                                        </table>
                                    </div>
                                </div>

                            </div>
                        </form>
                    </div>
                    <div class="modal-footer text-center">
                        <button type="button" class="btn btn-default" data-dismiss="modal"><i class="fa fa-sign-out"
                                                                                              aria-hidden="true"></i>
                            Thoát
                        </button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div th:replace="fragments/footer :: footer">&nbsp;</div>

</body>
<script th:inline="javascript">

    $('#btn-themmoi').click(function () {
        var valid = $("#form-themmoi").parsley();
        valid.validate();
        if (valid.isValid()) {
            var data = $('#form-themmoi').serialize();
            $.ajax({
                url: base_url + 'user/them-moi',
                type: "post",
                data: data,
                dataType: "text",
                success: function (result) {
                    $('#themnhansu').modal('hide');
                    if (result.trim() === "success") {
                        notify_sucess("Thêm tài khoản", 'Thêm mới');
                    } else {
                        notify_error("Thêm tài khoản", 'Thêm mới');
                    }
                }
            });
        }
    });
    $('.doimatkhau').click(function () {
        var userName = $(this).attr("userName");
        swal({
                title: "Cảnh báo",
                text: "Bạn có chắc muốn thiết lập lại mật khẩu",
                type: "warning",
                showCancelButton: true,
                confirmButtonClass: "btn-danger",
                confirmButtonText: "Đồng ý",
                cancelButtonText: "Thoát!",
                // closeOnConfirm: false
            },
            function () {
                var matkhau = "123456";

                console.log(userName);
                $.ajax({
                    url: base_url + 'user/reset-password',
                    type: "post",
                    data: {userName: userName},
                    dataType: "text",
                    success: function (result) {
                        if (result.trim() === 'success') {
                            setClipboard(matkhau);
                            notify_reset_success(matkhau)
                        } else {
                            notify_error("Thiết lập mật khẩu", "Thiết lập");
                        }
                    }
                });
            });
    });

    $('#khoaVien').change(function () {
        var maKhoaVien = $(this).val();
        $.ajax({
            url: base_url + 'user/getValueForBoMon',
            type: "get",
            data: {khoaVien: maKhoaVien},
            dataType: "text",
            success: function (result) {
                $('#boMon').empty();
                var rs = JSON.parse(result);
                $.each(rs, function (i, obj) {
                    $('#boMon').append("<option value='" + obj.maNganh + "'>" + obj.tenNganh + "</option>");
                });
                getGVCode(maKhoaVien);
            }
        });
    });
    $('#btn-remove-file').click(function () {
        $('#labelField-edit').html("Click để tải file");
        // document.getElementById("labelField-edit").classList.remove("btn-success");
        $('#removeFile').val(true);
    });

    function getGVCode(maKhoaVien) {
        var count = [[${totalRecord}]] + 1;
        $('#memberId').val("GV" + maKhoaVien + "-" + count);
    }

    $('.user-detail').click(function () {
        var itemId = $(this).attr("itemId");
        $('#xemnhansugv').modal('show');

        $.ajax({
            url: base_url + 'user/timkiem/' + itemId,
            type: "get",
            data: {id: itemId},
            dataType: "text",
            success: function (result) {
                var rs = JSON.parse(result);
                var user = rs[0];
                $('#viewfullnamegv').text(user.fullName);
                $('#birthdaygv').text(moment(user.userDOB).format("DD/MM/YYYY"));
                $('#gendergv').text(user.userGender);
                $('#phonegv').text(user.userPhone);
                $('#emailgv').text(user.userEmail);
                $('#usernamegv').text(user.userName);
                $('#diachigv').text(user.userAddress);
                $('#view-avatar-gv').css('background-image', 'url(http://localhost:8080/avatar/' + (user.userAvatar != null ? user.userAvatar : 'default.png'));

                if (user.giaoVien != null) {
                    var dsLopHoc = rs[1];
                    $('#manvgv').text(user.giaoVien.maGiaoVien);
                    $('#manganhgv').text(user.giaoVien.boMon.maNganh);
                    $('#tennganhgv').text(user.giaoVien.boMon.tenNganh);
                    $('#hochamviewgv').text(user.giaoVien.hocHam);
                    $('#motagv').text(user.giaoVien.moTa);
                    $('#loaitk').text("Giảng viên");
                    $('#tbGiaoVien').empty();
                    $('#gvprofile').show();
                    $('#svprofile').hide();
                    $.each(dsLopHoc, function (i, obj) {
                        var ngayHoc = obj[3].split(",");
                        var caHoc = obj[4].split(",");
                        var lichHoc = "";
                        for(var i =0; i< ngayHoc.length - 1; i++){
                            lichHoc = lichHoc + "Thứ "+ngayHoc[i] + ": Ca "+caHoc[i] + "<br/>"
                        }
                        $('#tbGiaoVien')
                            .append("<tr>" +
                                "<td>"+(i+1)+"</td>" +
                                "<td>"+obj[0]+"</td>" +
                                "<td>"+obj[1]+"</td>" +
                                "<td>"+obj[2]+"</td>" +
                                "<td>"+lichHoc+"</td>" +
                                "</tr>");
                    });
                } else if (user.sinhVien != null) {
                    var dsLopHoc = rs[1];
                    var kiHoc = rs[2];
                    $('#manvgv').text(user.sinhVien.maSinhVien);
                    $('#manganhgv').text(user.sinhVien.boMon.maNganh);
                    $('#tennganhgv').text(user.sinhVien.boMon.tenNganh);
                    $('#hochamviewgv').text("Không");
                    $('#motagv').text("Không");
                    $('#loaitk').text("Sinh viên");
                    $('#tbSinhVien').empty();
                    $('#svprofile').show();
                    $('#gvprofile').hide();
                    $('#kiHoc').text("Danh sách lớp đang theo học trong kì "+kiHoc);
                    $.each(dsLopHoc, function (i, obj) {
                        $('#tbSinhVien')
                            .append("<tr>" +
                                "<td>"+(i+1)+"</td>" +
                                "<td>"+obj[0]+"</td>" +
                                "<td>"+obj[1]+"</td>" +
                                "<td>"+obj[2]+"</td>" +
                                "<td>"+obj[3]+"</td>" +
                                "</tr>");
                    });
                }
            }
        });
    });

    var base_url = [[@{/}]];
</script>
</html>
