<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Smarttask Education</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- style sheet -->
    <link rel="stylesheet" type="text/css" th:href="@{/css/bootstrap-3.3.7/bootstrap.min.css}"/>
    <link rel="stylesheet" type="text/css" th:href="@{/css/bootstrap-datepicker3.min.css}"/>
    <link rel="stylesheet" type="text/css" th:href="@{/js/plugins/daterangepicker/daterangepicker.css}"/>
    <link rel="stylesheet" type="text/css" th:href="@{/css/datatables.min.css}"/>
    <link rel="stylesheet" type="text/css" th:href="@{/css/login.css}"/>
    <link rel="stylesheet" type="text/css" th:href="@{/css/select2.min.css}"/>
    <!-- thu vien validate -->
    <link rel="stylesheet" type="text/css" th:href="@{/css/parsley.css}"/>
    <link rel="stylesheet" type="text/css" th:href="@{/css/bootstrap-datepicker.min.css}">
    <link rel="stylesheet" type="text/css" th:href="@{/css/font-awesome.min.css}"/>
    <link rel="stylesheet" type="text/css" th:href="@{/css/font-awesome-animation.min.css}"/>
    <link rel="stylesheet" type="text/css" th:href="@{/css/ionicons.min.css}"/>
    <link rel="stylesheet" type="text/css" th:href="@{/css/admin-lte.min.css}"/>
    <link rel="stylesheet" type="text/css" th:href="@{/css/ionicons.min.css}"/>
    <link rel="stylesheet" type="text/css" th:href="@{/css/main.css}"/>
    <link rel="stylesheet" type="text/css" th:href="@{/css/sweetalert.css}"/>
    <link rel="stylesheet" type="text/css" th:href="@{/css/lobibox.min.css}"/>
    <!-- css overwrite -->
    <link rel="stylesheet" type="text/css" th:href="@{/css/overwrite.css}"/>
    <link rel="stylesheet" type="text/css" th:href="@{/css/fixgiaodienadmin.css}"/>
    <link rel="stylesheet" type="text/css" th:href="@{/css/fixpopup.css}"/>
    <!-- jquery -->
    <script type="text/javascript" th:src="@{/js/jquery-3.3.1/jquery.min.js}"></script>
    <script type="text/javascript" th:src="@{/js/bootstrap-3.3.7/bootstrap.min.js}"></script>
    <script type="text/javascript" th:src="@{/js/jquery.slimscroll-1.3.6.min.js}"></script>
    <script type="text/javascript" th:src="@{/js/fastclick-1.0.6.min.js}"></script>
    <script type="text/javascript" th:src="@{/js/parsley/parsley.js}"></script>

    <script type="text/javascript" th:src="@{/js/select2/select2.full.min.js}"></script>
    <script type="text/javascript" th:src="@{/js/bootstrap-datepicker.min.js}"></script>
    <script type="text/javascript" th:src="@{/js/plugins/daterangepicker/moment.js}"></script>
    <script type="text/javascript" th:src="@{/js/plugins/daterangepicker/daterangepicker.js}"></script>
    <script type="text/javascript" th:src="@{/js/app.min.js}"></script>
    <script type="text/javascript" th:src="@{/js/javascript.js}"></script>
    <script type="text/javascript" th:src="@{/js/sweetalert.js}"></script>
    <script type="text/javascript" th:src="@{/js/lobibox.js}"></script>
    <script type="text/javascript" th:src="@{/js/lobibox.min.js}"></script>
    <script type="text/javascript" th:src="@{/js/datatables.min.js}"></script>
    <script type="text/javascript" th:src="@{/js/datatables.config.js}"></script>
    <script type="text/javascript" th:src="@{/js/cuttom.js}"></script>
    <script type="text/javascript" th:src="@{/js/trongtran.js}"></script>

    <script src="https://oss.maxcdn.com/html5shiv/3.7.3/html5shiv.min.js"></script>
    <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->
</head>
<body class="hold-transition fixed skin-purple sidebar-mini">
<div class="wrapper">
    <div th:replace="fragments/header :: header">&nbsp;</div>
    <div class="content-wrapper">
        <!--<div layout:fragment="content">&nbsp;</div>-->
        <section class="content-header">
            <h1>
                Quản lý bộ môn
            </h1>
            <ol class="breadcrumb">
                <li>
                    <a href="#">Trang chủ</a>
                </li>
                <li class="active">
                    Quản lý bộ môn
                </li>
            </ol>
        </section>
        <div class="khung" data-width="5">
            <form action="/admin/bomon/timkiem" method="post">
            <div class="input">
                <div class="label">Tên bộ môn</div>
                <input type="text" name="tenBoMon" th:value="${tenBoMon}"/>
                <br>
            </div>
            <div class="input">
                <div class="label">Mã bộ môn</div>
                <input type="text" name="maBoMon" th:value="${maBoMon}"/><br>
            </div>
                <input type="submit"  class="submit" value="Tìm kiếm">
            </form>
        </div>
        <h3 class="title">
            Danh sách bộ môn
            <a href="#" class="add-use" data-toggle="modal" data-target="#themnhansu">
                <i class="fa fa-plus-circle" aria-hidden="true"></i>
                Thêm mới
            </a>
        </h3>
        <div class="table">
            <table class="tree-table">
                <thead class="fix-w text-center">
                <tr>
                    <th class="wpx-60">
                        <div>STT</div>
                    </th>
                    <th>
                        <div>
                            <div>Mã bộ môn</div>
                        </div>
                    </th>
                    <th>
                        <div>Tên bộ môn</div>
                    </th>
                    <th>
                        <div>Khoa/viện</div>
                    </th>
                    <th class="wpx-40">
                        <!-- <div>Chức năng</div> -->
                    </th>
                </tr>
                </thead>
                <tbody class="text-center">
                <th:block th:if="${#lists.isEmpty(lstBoMon)}">
                    <p>Không có dữ liệu</p>
                </th:block>
                <th:block th:if="${!#lists.isEmpty(lstBoMon)}">
                    <th:block th:each="bm, i : ${lstBoMon}">
                        <tr>
                            <td th:text="${i.index+1}">1</td>
                            <td th:text="${bm.maNganh}"></td>
                            <td th:text="${bm.tenNganh}"></td>
                            <td th:text="${bm.khoaVien.tenVien}"></td>
                            <td class="text-center">
                                <div class="dropdown bacham">
                                    <a href="#" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
                                        <i class="fa fa-ellipsis-v" aria-hidden="true"></i>
                                    </a>
                                    <ul class="dropdown-menu dropdown-menu-right">
                                        <li class="inline">
                                            <a class="icon-edit" th:attr="idItem=${bm.maNganh}"
                                               data-toggle="modal"
                                               data-target="#suanhansu"><i class="fa fa-pencil-square-o"
                                    </ul>
                                </div>
                            </td>
                        </tr>
                    </th:block>
                </th:block>
                </tbody>
            </table>
        </div>
        </section>
        <!-- Modal themnhansu-->
        <div class="modal modal-full fade" id="themnhansu" role="dialog" aria-labelledby="themnhansuLabel">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span
                                aria-hidden="true">&times;</span></button>
                        <h3 class="modal-title" id="themnhansuLabel">
                            Thêm mới
                        </h3>
                    </div>
                    <div class="modal-body">
                        <form id="form-themmoi" th:action="@{/bomon/them-moi}" method="post" class="form-horizontal">
                            <div class="">
                                <div class="row">
                                    <div class="col-md-6">
                                        <div class="form-group">
                                            <label for="" class="col-sm-3 control-label">Mã bộ môn <span
                                                    class="red">(*)</span></label>
                                            <div class="col-md-9">
                                                <input readonly required name="maNganh" type="text" class="form-control" id="maNganh"
                                                       placeholder="Mã bộ môn">
                                            </div>
                                            <p class="col-sm-offset-3 help-block red">Example block-level help text
                                                here.</p>
                                        </div>
                                        <div class="form-group">
                                            <label for="" class="col-sm-3 control-label">Tên bộ môn <span
                                                    class="red">(*)</span></label>
                                            <div class="col-md-9">
                                                <input required name="tenNganh" type="text" class="form-control" id="tenNganh"
                                                       placeholder="Tên bộ môn ">
                                            </div>
                                            <p class="col-sm-offset-3 help-block red">Example block-level help text
                                                here.</p>
                                        </div>
                                        <div class="form-group">
                                            <label for="" class="col-sm-3 control-label">Khoa/viện</label>
                                            <div class="col-md-9">
                                                <select id="khoaVien" name="khoaVien" class="select2 form-control" title="Khoa/viện">
                                                    <th:block th:if="${!#lists.isEmpty(lstKhoaVien)}"
                                                              th:each="kv : ${lstKhoaVien}">
                                                        <option th:value="${kv.maVien}"
                                                                th:text="${kv.tenVien}"></option>
                                                    </th:block>
                                                </select>
                                            </div>
                                        </div>
                                        <input name="trangThai" value="1" hidden/>
                                    </div>
                                </div>
                            </div>
                        </form>
                    </div>
                    <div class="modal-footer text-center">
                        <button id="btn-themmoi" type="button" class="btn btn-primary">
                            <i class="fa fa-plus-circle" aria-hidden="true"></i>
                            Thêm mới
                        </button>
                        <button type="button" class="btn btn-default" data-dismiss="modal">
                            <i class="fa fa-sign-out" aria-hidden="true"></i>
                            Thoát
                        </button>
                    </div>
                </div>
            </div>
        </div>

        <!-- Modal suanhansu-->
        <div class="modal modal-full fade" id="suanhansu" role="dialog" aria-labelledby="suanhansuLabel">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span
                                aria-hidden="true">&times;</span></button>
                        <h3 class="modal-title" id="suanhansuLabel">
                            Cập nhật
                        </h3>
                    </div>
                    <div class="modal-body">
                        <form id="form-sua" class="form-horizontal">
                            <div class="">
                                <div class="row">
                                    <div class="col-md-6">
                                        <div class="form-group">
                                            <label for="" class="col-sm-3 control-label">Mã bộ môn <span
                                                    class="red">(*)</span></label>
                                            <div class="col-md-9">
                                                <input required name="maNganh" readonly type="text" class="form-control"
                                                       id="maNganhEdit"
                                                       placeholder="Mã bộ môn">
                                            </div>
                                            <p class="col-sm-offset-3 help-block red">Example block-level help text
                                                here.</p>
                                        </div>
                                        <div class="form-group">
                                            <label for="" class="col-sm-3 control-label">Tên bộ môn <span
                                                    class="red">(*)</span></label>
                                            <div class="col-md-9">
                                                <input required name="tenNganh" type="text" class="form-control"
                                                       id="tenNganhEdit"
                                                       placeholder="Tên bộ môn ">
                                            </div>
                                            <p class="col-sm-offset-3 help-block red">Example block-level help text
                                                here.</p>
                                        </div>
                                        <div class="form-group">
                                            <label for="" class="col-sm-3 control-label">Khoa/viện</label>
                                            <div class="col-md-9">
                                                <select id="khoaVienEdit" required name="khoaVien"
                                                        class="select2 form-control" title="Khoa Viện">
                                                    <th:block th:if="${!#lists.isEmpty(lstKhoaVien)}"
                                                              th:each="kv : ${lstKhoaVien}">
                                                        <option th:value="${kv.maVien}"
                                                                th:text="${kv.tenVien}"></option>
                                                    </th:block>
                                                </select>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </form>
                    </div>
                    <div class="modal-footer text-center">
                        <button id="btn-edit" type="button" class="btn btn-primary"><i class="fa fa-plus-circle"
                                                                                       aria-hidden="true"></i> Cập nhật
                        </button>
                        <button type="button" class="btn btn-default" data-dismiss="modal"><i class="fa fa-sign-out"
                                                                                              aria-hidden="true"></i>
                            Thoát
                        </button>
                    </div>
                </div>
            </div>
        </div>
        <!--test-->
    </div>

    <div th:replace="fragments/footer :: footer">&nbsp;</div>
</div>
</body>
<script th:inline="javascript">

    $('#btn-themmoi').click(function () {
        var valid = $("#form-themmoi").parsley();
        valid.validate();
        if (valid.isValid()) {
            var data = $('#form-themmoi').serialize();
            $.ajax({
                url: base_url + 'bomon/them-moi',
                type: "post",
                data: data,
                dataType: "text",
                success: function (result) {
                    $('#themnhansu').modal('hide');
                    if (result.trim() === "success") {
                        notify_sucess('Thêm bộ môn', 'Thêm mới');
                    } else {
                        notify_error('Thêm bộ môn', 'Thêm mới');
                    }
                }
            });
        }
    });
    //
    //
    $('#btn-edit').click(function () {
        var valid = $("#form-sua").parsley();
        valid.validate();
        if (valid.isValid()) {
            var data = $('#form-sua').serialize();
            $.ajax({
                url: base_url + 'bomon/cap-nhat',
                type: "post",
                data: data,
                dataType: "text",
                success: function (result) {
                    $('#suanhansu').modal('hide');
                    if (result.trim() === "success") {
                        notify_sucess("Cập nhật bộ môn", "Cập nhật");
                    } else {
                        notify_error("Cập nhật bộ môn", "Cập nhật");
                    }
                }
            });
        }
    });

    $('.icon-edit').click(function () {
        var idItem = $(this).attr("idItem");
        $.ajax({
            url: base_url + 'bomon/timkiem/' + idItem,
            type: "get",
            dataType: "text",
            success: function (result) {
                var rs = JSON.parse(result);
                $('#maNganhEdit').val(rs.maNganh);
                $('#tenNganhEdit').val(rs.tenNganh);
                $('#khoaVienEdit').val(rs.khoaVien['maVien']).change();
            }
        });
    });


    function getCode(){
        var khoaVien = $('#khoaVien').val();
        var tenNganh = $('#tenNganh').val();
        var maNganh;
        if(tenNganh !== "") maNganh = khoaVien + "-" + getSuffix(tenNganh);
        else maNganh = khoaVien;
        $('#maNganh').val(maNganh);
    }

    $("#tenNganh").on("input", function() {
       getCode();
    });

    $('#khoaVien').change(function () {
       getCode();
    });

    var base_url = [[@{/}]];

</script>
</html>
